//things
$font-family: sans-serif;
$text-decoration: none;

//media



//base
*{
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html{
    font-size: 67.5%;

}

a{
    text-decoration: $text-decoration;
}