//greeting

.greeting{
    width: 300px;
    border: 14px solid black;
    padding: 50px;
    margin: 20px;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
margin-top: 200px;
line-height: 1.5;

@media (max-width: 450px) {
  width: 150px;
}

&__opener{
    font-size: 24px;
}

&__me{
    font-size: 16px;
}

&__things{
    font-size: 12px;
    font-style: italic;
}

&__btn{
    margin-top: 10px;
}
}


//about

.about{
    width: 800px;
    border: 14px solid black;
    padding: 50px;
    margin: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -1000px;

    @media (max-width: 960px) {
        width: 600px;
      }

      
      @media (max-width: 400px) {
        width: 240px;
       }
   
    &__me{
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        width: 300px;
        margin-left: 250px;

        @media (max-width: 960px) {
           margin-left: 150px;
          }
          @media (max-width: 400px) {
              width: 230px;
            margin-left: 3px;
           }

         
       
    }

    &__photo{
        width: 300px;
        @media (max-width: 400px) {
            width: 230px;
           }
    }

    &__info{
        width: 300px;
        border: 14px solid black;
        padding: 50px;
        margin-left: 200px;
        margin-top: 50px;

        
        @media (max-width: 960px) {
            margin-left: 200px;
           }

           @media (max-width: 400px) {
               width: 150px;
            margin-left: -20px;
           }

      

    }

    h1{
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        margin-top: 10px;
       
    }

    h2{
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    

   
}