//greeting

.greeting{
    width: 300px;
    border: 14px solid white;
    padding: 50px;
    margin: 20px;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
margin-top: 200px;
line-height: 1.5;
color: white;

@media (max-width: 450px) {
  width: 150px;
}

&__opener{
    font-size: 24px;
}

&__me{
    font-size: 16px;
}

&__things{
    font-size: 12px;
    font-style: italic;
}

&__btn{
    margin-top: 10px;
}
}


//about

.about{
    width: 800px;
    border: 14px solid white;
    padding: 50px;
    margin: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -1000px;
    color: white;

    @media (max-width: 960px) {
        bottom: -1200px;
        width: 600px;
      }

      
      @media (max-width: 400px) {
        width: 240px;
       }
   
    &__me{
        border: 1px solid white;
        border-radius: 4px;
        padding: 5px;
        width: 300px;
        margin-left: 250px;

        @media (max-width: 960px) {
           margin-left: 150px;
          }
          @media (max-width: 400px) {
              width: 230px;
            margin-left: 3px;
           }

         
       
    }

    &__photo{
        width: 300px;
        @media (max-width: 400px) {
            width: 230px;
           }
    }

    &__info{
        width: 300px;
        border: 14px solid white;
        padding: 50px;
        margin-left: 200px;
        margin-top: 50px;

        
        @media (max-width: 960px) {
            margin-left: 200px;
           }

           @media (max-width: 960px) {
            margin-left: 100px;
           }

           @media (max-width: 400px) {
               width: 150px;
            margin-left: -20px;
           }

      

    }

    h1{
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        margin-top: 10px;
       
    }

    h2{
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    

   
}


.work{

    width: 1000px;
    border: 14px solid white;
    padding: 50px;
    margin: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -2200px;
    color: white;

    @media(max-width:1172px){
        bottom: -2000px;
    }
    
    @media (max-width: 960px) {
        bottom: -3500px;
        margin-left: 100px;
       }
    @media (max-width: 768px) {
        bottom: -4500px;
        width: 500px;
        margin-left: 70px;
       }


       @media (max-width: 400px) {
        bottom: -3300px;
           width: 220px;
        margin-left: 10px;
       }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        margin-left: -28px;
      }
      
      .grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      }
      
      .grid > article img {
        max-width: 100%;
      }
      
      .grid .text {
        padding: 20px;
      }

    

}


#footer{
    background-color: black;
    background-size: cover;
    
    margin-top: 2975px;

   
   
    @media (max-width: 768px) {
        margin-top: 5500px;
       }

       @media (max-width: 375px) {
        margin-bottom: 10130px;
       }

    h1{
        text-align: center;
        color: white;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 80vh;
        padding: 0 2rem;

       
      
      }
      
      .contact-section-header > h2 {
        font-size: 6rem;
      }
      
      @media (max-width: 28.75em) {
        .contact-section-header > h2 {
          font-size: 4rem;
        }
      }
      
      .contact-section-header > p {
        font-style: italic;
      }
      
      .contact-links {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin-top: 4rem;
        flex-wrap: wrap;
        margin-left: 35px;
        @media (max-width: 1200px) {
            margin-left: 88px;
            margin-top: 1000px;
           
           }
     
        

        @media (max-width: 1172px) {
            margin-left: 1200px;
           
           }
           @media (max-width: 800px){
            margin-left: 5px;
        }
    
           @media (max-width: 375px) {
            margin-bottom: -80130px;
            margin-top: -1600px;
           }

        
       
      }
      
      .contact-details {
        font-size: 2.4rem;
        text-shadow: 2px 2px 1px #1f1f1f;
        transition: transform 0.3s ease-out;
        
      }
      
      .contact-details:hover {
        transform: translateY(8px);
      }
      .btn{
          margin-top: 50px;
      }

    
}