#greet{
  
  
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(rgb(246, 247, 248), rgb(28, 28, 29));
    
}

#about{
    background: radial-gradient(rgb(246, 247, 248), rgb(28, 28, 29));
    display: flex;
    justify-content: center;
    align-items: center;
}


#work{
    background: radial-gradient(rgb(246, 247, 248), rgb(28, 28, 29));
    display: flex;
    justify-content: center;
    align-items: center;
}

