.container{
   max-width: 20rem;
   margin: 8rem auto;
   min-height: 9rem;
   background-color: black;
   box-shadow: $dark-shadow ;
   color: white;
}

.container-about{
    max-width: 50rem;
   margin: 8rem auto;
   min-height: 9rem;
   background-color: black;
   box-shadow: $dark-shadow ;
   color: white;
}

