* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  padding: 8px;
}

ul .img {
  width: 10%;
}

.btn {
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.btn a {
  text-decoration: none;
  color: black;
}

.greeting {
  width: 300px;
  border: 14px solid white;
  padding: 50px;
  margin: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 200px;
  line-height: 1.5;
  color: white;
}

@media (max-width: 450px) {
  .greeting {
    width: 150px;
  }
}

.greeting__opener {
  font-size: 24px;
}

.greeting__me {
  font-size: 16px;
}

.greeting__things {
  font-size: 12px;
  font-style: italic;
}

.greeting__btn {
  margin-top: 10px;
}

.about {
  width: 800px;
  border: 14px solid white;
  padding: 50px;
  margin: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -1000px;
  color: white;
}

@media (max-width: 960px) {
  .about {
    bottom: -1200px;
    width: 600px;
  }
}

@media (max-width: 400px) {
  .about {
    width: 240px;
  }
}

.about__me {
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  margin-left: 250px;
}

@media (max-width: 960px) {
  .about__me {
    margin-left: 150px;
  }
}

@media (max-width: 400px) {
  .about__me {
    width: 230px;
    margin-left: 3px;
  }
}

.about__photo {
  width: 300px;
}

@media (max-width: 400px) {
  .about__photo {
    width: 230px;
  }
}

.about__info {
  width: 300px;
  border: 14px solid white;
  padding: 50px;
  margin-left: 200px;
  margin-top: 50px;
}

@media (max-width: 960px) {
  .about__info {
    margin-left: 200px;
  }
}

@media (max-width: 960px) {
  .about__info {
    margin-left: 100px;
  }
}

@media (max-width: 400px) {
  .about__info {
    width: 150px;
    margin-left: -20px;
  }
}

.about h1 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 10px;
}

.about h2 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work {
  width: 1000px;
  border: 14px solid white;
  padding: 50px;
  margin: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -2200px;
  color: white;
}

@media (max-width: 1172px) {
  .work {
    bottom: -2000px;
  }
}

@media (max-width: 960px) {
  .work {
    bottom: -3500px;
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .work {
    bottom: -4500px;
    width: 500px;
    margin-left: 70px;
  }
}

@media (max-width: 400px) {
  .work {
    bottom: -3300px;
    width: 220px;
    margin-left: 10px;
  }
}

.work .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: -28px;
}

.work .grid > article {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.work .grid > article img {
  max-width: 100%;
}

.work .grid .text {
  padding: 20px;
}

#footer {
  background-color: black;
  background-size: cover;
  margin-top: 2975px;
}

@media (max-width: 768px) {
  #footer {
    margin-top: 5500px;
  }
}

@media (max-width: 375px) {
  #footer {
    margin-bottom: 10130px;
  }
}

#footer h1 {
  text-align: center;
  color: white;
}

#footer .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

#footer .contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  #footer .contact-section-header > h2 {
    font-size: 4rem;
  }
}

#footer .contact-section-header > p {
  font-style: italic;
}

#footer .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 35px;
}

@media (max-width: 1200px) {
  #footer .contact-links {
    margin-left: 88px;
    margin-top: 1000px;
  }
}

@media (max-width: 1172px) {
  #footer .contact-links {
    margin-left: 1200px;
  }
}

@media (max-width: 800px) {
  #footer .contact-links {
    margin-left: 5px;
  }
}

@media (max-width: 375px) {
  #footer .contact-links {
    margin-bottom: -80130px;
    margin-top: -1600px;
  }
}

#footer .contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

#footer .contact-details:hover {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

#footer .btn {
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */